# Node.js
node_modules/
dist/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.vite*

# IDE / OS
.vscode/
.idea/
*.swp
*~
.DS_Store
Thumbs.db

Uploads/
*.db

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/